{{ php_ansible_managed_msg | comment(decoration='; ') }}

[PHP]

;;;;;;;;;;;;;;;;;;;;
; Language Options ;
;;;;;;;;;;;;;;;;;;;;

engine                    = {{ php_fpm_ini_engine | default('On') }}
short_open_tag            = {{ php_fpm_ini_short_open_tag | default('Off') }}
precision                 = {{ php_fpm_ini_precision | default('14') }}
output_buffering          = {{ php_fpm_ini_output_buffering | default('4096') }}

zlib.output_compression   = {{ php_fpm_ini_zlib_output_compression | default('Off') }}

implicit_flush            = {{ php_fpm_ini_implicit_flush | default('Off') }}
unserialize_callback_func = {{ php_fpm_ini_unserialize_callback_func | default('') }}
serialize_precision       = {{ php_fpm_ini_serialize_precision | default('-1') }}
disable_functions         = {{ php_fpm_ini_disable_functions | join(',') | default('') }}
disable_classes           = {{ php_fpm_ini_disable_classes | join(',') | default('') }}

zend.enable_gc            = {{ php_fpm_ini_zend_enable_gc | default('On') }}

;;;;;;;;;;;;;;;;;
; Miscellaneous ;php_fpm_ini_disabled_classes

expose_php                = {{ php_fpm_ini_expose_php | default('On') }}

;;;;;;;;;;;;;;;;;;;
; Resource Limits ;
;;;;;;;;;;;;;;;;;;;

max_execution_time        = {{ php_fpm_ini_max_execution_time | default('60') }}
max_input_time            = {{ php_fpm_ini_max_input_time | default('60') }}
max_input_vars            = {{ php_fpm_ini_max_input_vars | default('1000') }}
memory_limit              = {{ php_fpm_ini_memory_limit | default('256M') }}

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Error handling and logging ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

error_reporting           = {{ php_fpm_ini_error_reporting | default('E_ALL & ~E_DEPRECATED & ~E_STRICT') }}
display_errors            = {{ php_fpm_ini_display_errors | default('Off') }}
display_startup_errors    = {{ php_fpm_ini_display_startup_errors | default('Off') }}
log_errors                = {{ php_fpm_ini_log_errors | default('On') }}
log_errors_max_len        = {{ php_fpm_ini_log_errors_max_len | default('1024') }}
ignore_repeated_errors    = {{ php_fpm_ini_ignore_repeated_errors | default('Off') }}
ignore_repeated_source    = {{ php_fpm_ini_ignore_repeated_source | default('Off') }}
report_memleaks           = {{ php_fpm_ini_report_memleaks | default('On') }}
track_errors              = {{ php_fpm_ini_track_errors | default('Off') }}
html_errors               = {{ php_fpm_ini_html_errors | default('On') }}

;;;;;;;;;;;;;;;;;
; Data Handling ;
;;;;;;;;;;;;;;;;;

variables_order           = {{ php_fpm_ini_variables_order | default('GPCS') }}
request_order             = {{ php_fpm_ini_request_order | default('GP') }}
register_argc_argv        = {{ php_fpm_ini_register_argc_argv | default('Off') }}
auto_globals_jit          = {{ php_fpm_ini_auto_globals_jit | default('On') }}

post_max_size             = {{ php_fpm_ini_post_max_size | default('8M') }}
auto_prepend_file         = {{ php_fpm_ini_auto_prepend_file | default('') }}
auto_append_file          = {{ php_fpm_ini_auto_append_file | default('') }}

default_mimetype          = {{ php_fpm_ini_default_mimetype | default('text/html') }}

;;;;;;;;;;;;;;;;;;;;;;;;;
; Paths and Directories ;
;;;;;;;;;;;;;;;;;;;;;;;;;

doc_root                  = {{ php_fpm_ini_doc_root | default('') }}
user_dir                  = {{ php_fpm_ini_user_dir | default('') }}

enable_dl                 = {{ php_fpm_ini_enable_dl | default('Off') }}

realpath_cache_size       = {{ php_fpm_ini_realpath_cache_size | default('32K') }}

;;;;;;;;;;;;;;;;
; File Uploads ;
;;;;;;;;;;;;;;;;

file_uploads              = {{ php_fpm_ini_file_uploads | default('On') }}
upload_max_filesize       = {{ php_fpm_ini_upload_max_filesize | default('64M') }}
max_file_uploads          = {{ php_fpm_ini_max_file_uploads | default('20') }}

;;;;;;;;;;;;;;;;;;
; Fopen wrappers ;
;;;;;;;;;;;;;;;;;;

allow_url_fopen           = {{ php_fpm_ini_allow_url_fopen | default('On') }}
allow_url_include         = {{ php_fpm_ini_allow_url_include | default('Off') }}

default_socket_timeout    = {{ php_fpm_ini_default_socket_timeout | default('60') }}

;;;;;;;;;;;;;;;;;;;
; Module Settings ;
;;;;;;;;;;;;;;;;;;;

[CLI Server]
cli_server.color          = {{ php_fpm_ini_cli_server_color | default('On') }}

[Date]
date.timezone             = {{ php_fpm_ini_date_timezone | default('Europe/Berlin') }}

[Pdo_mysql]
pdo_mysql.cache_size      = {{ php_fpm_ini_pdo_mysql_cache_size | default('2000') }}
pdo_mysql.default_socket  = {{ php_fpm_ini_pdo_mysql_default_socket | default('') }}

[mail function]
; For Win32 only.
SMTP                      = {{ php_fpm_ini_smtp | default('localhost') }}
smtp_port                 = {{ php_fpm_ini_smtp_port | default('25') }}

; For Unix only.  You may supply arguments as well (default: "sendmail -t -i").
sendmail_path             = {{ php_fpm_ini_sendmail_path | default('/usr/sbin/sendmail -t -i') }}

mail.add_x_header         = {{ php_fpm_ini_mail_add_x_header | default('On') }}

[SQL]
sql.safe_mode             = {{ php_fpm_ini_sql_safe_mode | default('Off') }}

[ODBC]
odbc.allow_persistent     = {{ php_fpm_ini_odbc_allow_persistent | default('On') }}
odbc.check_persistent     = {{ php_fpm_ini_odbc_check_persistent | default('On') }}
odbc.max_persistent       = {{ php_fpm_ini_odbc_max_persistent | default('-1') }}
odbc.max_links            = {{ php_fpm_ini_odbc_max_links | default('-1') }}
odbc.defaultlrl           = {{ php_fpm_ini_odbc_defaultlrl | default('4096') }}
odbc.defaultbinmode       = {{ php_fpm_ini_odbc_defaultbinmode | default('1') }}

[MySQL]
mysql.allow_local_infile  = {{ php_fpm_ini_mysql_allow_local_infile | default('On') }}
mysql.allow_persistent    = {{ php_fpm_ini_mysql_allow_persistent | default('On') }}
mysql.cache_size          = {{ php_fpm_ini_mysql_cache_size | default('2000') }}
mysql.max_persistent      = {{ php_fpm_ini_mysql_max_persistent | default('-1') }}
mysql.max_links           = {{ php_fpm_ini_mysql_max_links | default('-1') }}
mysql.default_port        = {{ php_fpm_ini_mysql_default_port | default('3306') }}
mysql.default_socket      = {{ php_fpm_ini_mysql_default_socket | default('') }}
mysql.default_host        = {{ php_fpm_ini_mysql_default_host | default('localhost') }}
mysql.default_user        = {{ php_fpm_ini_mysql_default_user | default('') }}
mysql.default_password    = {{ php_fpm_ini_mysql_default_password | default('') }}
mysql.connect_timeout     = {{ php_fpm_ini_mysql_connect_timeout | default('60') }}
mysql.trace_mode          = {{ php_fpm_ini_mysql_trace_mode | default('Off') }}

[MySQLi]
mysqli.max_persistent     = {{ php_fpm_ini_mysqli_max_persistent | default('-1') }}
mysqli.allow_persistent   = {{ php_fpm_ini_mysqli_allow_persistent | default('On') }}
mysqli.max_links          = {{ php_fpm_ini_mysqli_max_links | default('-1') }}
mysqli.cache_size         = {{ php_fpm_ini_mysqli_cache_size | default('2000') }}
mysqli.default_port       = {{ php_fpm_ini_mysqli_default_port | default('3306') }}
mysqli.default_socket     = {{ php_fpm_ini_mysqli_default_socket | default('') }}
mysqli.default_host       = {{ php_fpm_ini_mysqli_default_host | default('localhost') }}
mysqli.default_user       = {{ php_fpm_ini_mysqli_default_user | default('') }}
mysqli.default_pw         = {{ php_fpm_ini_mysqli_default_pw | default('') }}
mysqli.reconnect          = {{ php_fpm_ini_mysqli_reconnect | default('Off') }}

[mysqlnd]
mysqlnd.collect_statistics        = {{ php_fpm_ini_mysqlnd_collect_statistics | default('On') }}
mysqlnd.collect_memory_statistics = {{ php_fpm_ini_mysqlnd_collect_memory_statistics | default('Off') }}

[PostgreSQL]
pgsql.allow_persistent      = {{ php_fpm_ini_pgsql_allow_persistent | default('On') }}
pgsql.auto_reset_persistent = {{ php_fpm_ini_pgsql_auto_reset_persistent | default('Off') }}
pgsql.log_notice            = {{ php_fpm_ini_pgsql_log_notice | default(0) }}

[bcmath]
bcmath.scale                = {{ php_fpm_ini_bcmath_scale | default(0) }}

[Session]
session.save_handler        = {{ php_fpm_ini_session_save_handler | default('files') }}
session.save_path           = {{ php_fpm_ini_session_save_path | default('') }}
session.use_cookies         = {{ php_fpm_ini_session_use_cookies | default(1) }}
session.use_only_cookies    = {{ php_fpm_ini_session_use_only_cookies | default('1') }}
session.name                = {{ php_fpm_ini_session_name | default('PHPSESSID') }}
session.auto_start          = {{ php_fpm_ini_session_auto_start | default(0) }}

session.cookie_lifetime     = {{ php_fpm_ini_session_cookie_lifetime | default(0) }}
session.cookie_path         = {{ php_fpm_ini_session_cookie_path | default('/') }}
session.cookie_domain       = {{ php_fpm_ini_session_cookie_domain | default('') }}
session.cookie_httponly     = {{ php_fpm_ini_session_cookie_httponly | default('') }}

session.serialize_handler   = {{ php_fpm_ini_session_serialize_handler | default('php') }}

session.gc_probability      = {{ php_fpm_ini_session_gc_probability | default(1) }}
session.gc_divisor          = {{ php_fpm_ini_session_gc_divisor | default(100) }}
session.gc_maxlifetime      = {{ php_fpm_ini_session_gc_maxlifetime | default(1440) }}

session.referer_check       = {{ php_fpm_ini_session_referer_check | default('') }}

session.cache_limiter       = {{ php_fpm_ini_session_cache_limiter | default('nocache') }}
session.cache_expire        = {{ php_fpm_ini_session_cache_expire | default(180) }}

session.use_trans_sid       = {{ php_fpm_ini_session_use_trans_sid | default(0) }}

session.hash_function           = {{ php_fpm_ini_session_hash_function | default(0) }}
session.hash_bits_per_character = {{ php_fpm_ini_session_hash_bits_per_character | default(5) }}

url_rewriter.tags           = {{ php_fpm_ini_url_rewriter_tags | default('a=href,area=href,frame=src,input=src,form=fakeentry') }}

[MSSQL]
mssql.allow_persistent      = {{ php_fpm_ini_mssql_allow_persistent | default('On') }}
mssql.max_persistent        = {{ php_fpm_ini_mssql_max_persistent | default(-1) }}
mssql.max_links             = {{ php_fpm_ini_mssql_max_links | default(-1) }}
mssql.min_error_severity    = {{ php_fpm_ini_mssql_min_error_severity | default(10) }}
mssql.min_message_severity  = {{ php_fpm_ini_mssql_min_message_severity | default(10) }}
mssql.compatability_mode    = {{ php_fpm_ini_mssql_compatability_mode | default('Off') }}
mssql.secure_connection     = {{ php_fpm_ini_mssql_secure_connection | default('Off') }}

[Tidy]
tidy.clean_output           = {{ php_fpm_ini_tidy_clean_output | default('Off') }}

[soap]
soap.wsdl_cache_enabled     = {{ php_fpm_ini_soap_wsdl_cache_enabled | default(1) }}
soap.wsdl_cache_dir         = {{ php_fpm_ini_soap_wsdl_cache_dir | default('/tmp') }}
soap.wsdl_cache_ttl         = {{ php_fpm_ini_soap_wsdl_cache_ttl | default(86400) }}
soap.wsdl_cache_limit       = {{ php_fpm_ini_soap_wsdl_cache_limit | default(5) }}

[ldap]
ldap.max_links               = {{ php_fpm_ini_ldap_max_links | default(-1) }}

{% if php_fpm_ini_extra is defined %}
{{ php_fpm_ini_extra }}
{% endif %}

{{ php_ansible_managed_msg | comment(decoration='; ') }}
