{{ php_ansible_managed_msg | comment(decoration='; ') }}

[{{ pool.name | mandatory }}]
{% if pool.prefix is defined %}prefix = {{ pool.prefix }}{% endif %}
user                    = {{ pool.user  | default(php_fpm_pool_user) }}
group                   = {{ pool.group | default(php_fpm_pool_group) }}

listen                  = {{ pool.listen | default('/run/php/'+pool.name+'.sock') }}
listen.backlog          = {{ pool.listen_backlog | default(-1) }}
listen.owner            = {{ pool.listen_owner | default(php_fpm_pool_user) }}
listen.group            = {{ pool.listen_group | default(php_fpm_pool_group) }}
listen.mode             = {{ pool.listen_mode | default('0660') }}

{% if pool.listen_acl_users  is defined %}listen.acl_users  = {{ pool.listen_acl_users }}{% endif %}
{% if pool.listen_acl_groups is defined %}listen.acl_groups = {{ pool.listen_acl_groups }}{% endif %}

listen.allowed_clients  = {{ pool.listen_allowed_clients | default('any') }}

{% if pool.process_priority is defined %}process.priority = {{ pool.process_priority }}{% endif %}
process.dumpable        = {{ pool.process_dumpable | default('no') }}

pm                          = {{ pool.pm | default('dynamic', true) }}
pm.max_children             = {{ pool.pm_max_children | default(50, true) }}
pm.start_servers            = {{ pool.pm_start_servers | default(5, true) }}
pm.min_spare_servers        = {{ pool.pm_min_spare_servers | default(5, true) }}
pm.max_spare_servers        = {{ pool.pm_max_spare_servers | default(5, true) }}
pm.max_spawn_rate           = {{ pool.pm_max_spawn_rate | default(32, true) }}
pm.process_idle_timeout     = {{ pool.pm_process_idle_timeout | default('10s', true) }}
pm.max_requests             = {{ pool.pm_max_requests | default(500, true) }}
{% if pool.pm_status_path is defined %}pm.status_path = {{ pool.pm_status_path }}{% endif %}
{% if pool.pm_status_listen is defined %}pm.status_listen = {{ pool.pm_status_listen }}{% endif %}

{% if pool.ping_path is defined %}ping.path = {{ pool.pm_status_listen }}{% endif %}
{% if pool.ping_response is defined %}ping.response = {{ pool.pm_status_listen }}{% endif %}

{% if pool.access_log is defined %}access.log                  = {{ pool.access_log }} {% endif %}

access.format               = {{ pool.access_format | default('"%R - %u %t \"%m %r\" %s"') }}
{% if pool.access_suppress_path is defined %}access.suppress_path[] = {{ pool.access_suppress_path }}{% endif %}

{% if pool.slowlog is defined %}
slowlog                     = {{ pool.slowlog }}
request_slowlog_timeout     = {{ pool.request_slowlog_timeout | default('0') }}
request_slowlog_trace_depth = {{ pool.request_slowlog_trace_depth | default('20') }}
request_terminate_timeout   = {{ pool.request_terminate_timeout | default('0') }}
request_terminate_timeout_track_finished = {{ pool.request_terminate_timeout_track_finished | default('no') }}
{% endif %}
rlimit_files                = {{ pool.rlimit_files | default(1024) }}
rlimit_core                 = {{ pool.rlimit_core | default(0) }}

{% if pool.chroot is defined %}chroot = {{ pool.chroot }}{% endif %}
{% if pool.chdir is defined %}chdir = {{ pool.chdir }}{% endif %}

catch_workers_output        = {{ pool.catch_workers_output | default('yes') }}
decorate_workers_output     = {{ pool.decorate_workers_output | default('no') }}
clear_env                   = {{ pool.clear_env | default('no') }}
security.limit_extensions   = {{ pool.security_limit_extensions | default('.php') }}

{% if pool.env is defined %}
{% for env in pool.env %}
env[{{ env }}] = {{ pool.env[env] }}
{% endfor %}
{% endif %}

{% if pool.php_admin_values is defined %}
{% for admin_value in pool.php_admin_values.items() %}
php_admin_value[{{ admin_value }}] = {{ pool.php_admin_values[admin_value] }}
{% endfor %}
{% endif %}

{% if pool.php_admin_flags is defined %}
{% for admin_flag in pool.php_admin_flags.items() %}
php_admin_flag[{{ admin_flag }}] = = {{ pool.php_admin_flags[admin_flag] }}
{% endfor %}
{% endif %}

{% if pool.extra is defined %}
{{ pool.extra }}
{% endif %}

{{ php_ansible_managed_msg | comment(decoration='; ') }}
